<html>
<head>
    <link rel="stylesheet" href="../css/style.css">
</head>
<div class="header">
    <h1> Подробнее о веществе </h1>
</div>
<div class="bg"></div>
<div>
    <img class="card_image" src="data:image/jpg;base64, {{ .Image }}" alt="картинка">
    <p style="margin-left: 10px;"> {{ .Title }}</p>
    <p style="margin-left: 10px;">Порядковый номер - {{ .Number}}</p>
    <p style="margin-left: 10px;">Научное название - {{ .Text }}</p>
    <a  class="button" href=".." >На главную страницу</a>

    <form method="POST" action="delete_substance/{{ .Title }}" name="delete_substance">
        <input type="hidden" name="card_title" id="card_title" value="{{ .Title }}">
        <input type="submit" class="button" value="Сменить статус">
    </form>

</div>
</html>
